@import 'https://fonts.googleapis.com/css?family=Roboto';
* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

html {
    margin: 0px;
    padding: 0px;
}

h2 {
    text-align: center;
}

.primary1 {
    background-color: white;
}

.primary2 {
    background-color: #333;
}

body {
    overflow: auto;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#title-bar {
    -webkit-app-region: drag;
    height: 32px;
    padding: 0px;
    margin: 0px;
    background-color: #333;
    color: #fff;
}

#title {
    top: 0px;
    left: 0px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

#monthNum {
    font-size: 97px;
    width: 75%;
}

#yearDay {
    position: absolute;
    right: 12px;
    top: 44px;
    width: 170px;
    height: 118px;
    font-size: 26px
}
.calendarTable {
    font-size: 26px;
}

table {
     width: 100%;
     height: calc(100% - 116px);
     table-layout: fixed;
}

.weekDays {
    border: none;
    height: 31px;
}

td {
    vertical-align: top;
    text-align: left;
    border: 1px solid #fff;
    border-radius: 5px;
}

.title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    color: white;
}

.btns-right {
    right: 0px;
}

.btns-left {
    left: 0px;
}

#lstMonth-btn {
    margin-left: -4px;
}

.title-bar-btns button:focus {
    outline: none;
}

.title-bar-btns button {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: white;
}

.btns-right button {
    margin-left: -4px;
}


/*
.btns-left button {
 margin-left: 4px;
}
*/

.title-bar-btns button:hover {
    background-color: rgb(0, 191, 255);
}

#content {
    padding: 12px;
    color: #CCCCCC;
    z-index: 1;
    background-color: #333;
    height: calc(100% - 56px);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #f30;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(0, 191, 255) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}